body,* {
    font-family: 'Roboto', sans-serif;
    background:#eee;
    background-image: url("pabrik.jpg");
 }
 nav {
    width: 100%;
    height: 100px;
    background-color: #eee;
    margin-left: 750px;
    
 }
 nav ul {
    margin: 0;
    padding: 0;
 }
 nav ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    line-height: 100px;
 }
 nav ul li a {
    text-decoration: none;
    margin: 5px;
    padding: 14px 20px;
    color: navy;
    background-color: #ffba93;
    border-radius: 5px;
 }
 nav ul li a:hover {
    color : #fff;
    background-color: #f37121;
 }
 h1{
    text-align: center;
 }